.custom-dialog-container .mat-dialog-container {
  padding: 20px;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .custom-dialog-container .mat-dialog-container {
    width: 90vw !important;
  }
}
.mat-dialog-content
{
  overflow: hidden !important;
}
