.mat-icon-button {
  margin-right: 8px;
}

th.mat-header-cell, td.mat-cell {
  text-align: left;
  padding: 8px 16px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child {
  text-align: center;
}
