.sidenav-container {
  height: 100%;
  $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
}

.sidenav {
  width: 200px;
  height: 300%;
 
  

  border-right: none;
  background-color:rgb(128, 128, 165);
  color: white;
  border-radius: 10px;
  text-align: center;
  

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

 .mat-list-item 

 {
//   background-color:darkgray;
//   color:black
//   &:hover
//   {
//     background-color:lightblue;
//     border-radius: 20px;
//     display: flex;
//     -ms-flex-item-align: center;
    
//   }.mat-toolbar{
  


&:hover
  {
    background-color:lightblue;
    border-radius: 20px;
    display: flex;
    -ms-flex-item-align: center;
  }
}
.mat-icon{
  margin: 16px;
  padding:1px;
  
  }
}