.container
{
    background-color: black;
}
h3{
    text-align: center;
}
.card
{
  border: none;
  width: 400px;
padding: 40px;
margin: 20px;
position:fixed;
top: 100px;
float: right;


background-color: hsla(205, 46%, 30%, 1);
background:linear-gradient(90deg,hsla(205, 46%, 30%, 1)0%,rgb(127, 150, 166));
}
.md-3
{
    text-align: center;
}
