<div class="container-fluid">
  <h1><b> soft Tutorials</b> the best resorces for learning web technolagy and quality resources</h1>
  <div class="row">
    <h1>choose your course</h1>
    <div class="col-md-6">
      <div class="flex-container">
        <div (click)="hi()">Angular 7</div>
        <div>Angular 5</div>
        <div>Angular material</div>
        <div>Typescript</div>
      </div>
      <div class="flex-container">
        <div>Angular js</div>
        <div>Node js</div>
        <div>Express js</div>
        <div>react js</div>
      </div>
      <div class="flex-container">
        <div>RX js</div>
        <div>python</div>
        <div>Ajax</div>
        <div>Html 5</div>
      </div>
      <div class="flex-container">
        <div>css</div>
        <div>javascript</div>
        <div>jquery</div>
        <div>bootstrap</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="flex-container">
        <div>Mango db</div>
        <div>web Api</div>
        <div>Enitity framework</div>
        <div>Linq</div>
      </div>
      <div class="flex-container">
        <div>sql server</div>
        <div>Dbms</div>
        <div>Enitity framework</div>
        <div>Mvc</div>
      </div>
      <div class="flex-container">
        <div>c</div>
        <div>c++</div>
        <div>Azure</div>
        <div>css</div>
      </div>
      <div class="flex-container">
        <div>Dot net core</div>
        <div>Ado.net</div>
        <div>web services</div>
        <div>c sharp</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card m-2" style="width: 20rem">
        <img class="card-img-top" src="../../assets/download (1).png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angular 7 full course</h5>
          <p class="card-text">Angular is an application design framework and development platform for creating
            efficient and sophisticated single-page apps.

            These Angular docs help you learn and use the Angular framework and development platform, from your first
            application to optimizing complex single-page apps for enterprises. Tutorials and guides include
            downloadable examples to accelerate your projects.</p>
          <a class="btn btn-danger" (click)="angular()">Read More</a>

        </div>
      </div>
    </div>



    <div class=" col-sm-4 d-block d-md-none">
      <div class="card m-2" style="width: 20rem">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/download.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">PYTHON full course</h2>
            <p class="card-text">Python is a computer programming language often used to build websites and software,
              automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to
              create a variety of different programs and isn't specialized for any specific problems.26-May-2022</p>
            <a class="btn btn-danger">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card m-2" style="width: 20rem">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/download (2).png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Angular material</h2>
            <p class="card-text">Angular material is an application design framework and development platform for
              creating efficient and sophisticated single-page apps.

              These Angular docs help you learn and use the Angular framework and development platform, from your first
              application to optimizing complex single-page apps for enterprises. Tutorials and guides include
              downloadable examples to accelerate your projects.</p>
            <a class="btn btn-danger">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card m-2" style="width: 20rem">
        <img class="card-img-top" src="../../assets/imagesjs.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Type scripy</h5>
          <p class="card-text">
            Is TypeScript used on the frontend or the backend? TypeScript is compiled to JavaScript. Therefore, TS can
            be used anywhere JS could be used: both the frontend and the backend. JavaScript is the most popular
            language to implement scripting for the frontend of apps and web pages.18-Jun-2020
          </p>
          <a class="btn btn-danger">Read More</a>

        </div>
      </div>
    </div>



    <div class="col-4">
      <div class="card m-2" style="width: 20rem">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/download css.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">css full course</h2>
            <p class="card-text">HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets) are two of the
              core technologies for building Web pages. HTML provides the structure of the page, CSS the (visual and
              aural) layout, for a variety of devices</p>
            <a class="btn btn-danger">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card " style="width: 20rem">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/download (1).jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Entity Framework</h2>
            <p class="card-text">The Entity Framework enables developers to work with data in the form of
              domain-specific objects and properties, such as customers and customer addresses, without having to
              concern themselves with the underlying database tables and columns where this data is stored.</p>
            <a class="btn btn-danger">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>






<!-- <img class="card-img-top" src="../../assets/download (1).png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Python full course</h5>
                          <p class="card-text">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.26-May-2022.</p>
                          <a  class="btn btn-danger">Read More</a> -->